body {
  background: url(assets/download.jpg);
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  text-align: center;
  color: white;
}

.heading {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading h1 {
  font-size: 60px;
  color: rgb(0, 41, 9);
}

.socialmedia {
  background-color: rgba(55, 139, 55, 0.5);
  padding: 25px 20px;
  border-top: 4px lightgreen solid;
}

.socialmedia .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.socialmedia .counter {
  font-size: 40px;
  margin: 3px 0;
  color: rgb(0, 41, 9);
}

.socialmedia i {
  color: rgb(0, 41, 9);
}

h3 {
  margin-top: 2px;
  color: rgb(0, 41, 9);
}
